<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel">
        <h2>Admin Login</h2>
        <p>Please enter your email and password</p>
      </div>
      <form id="Login">
        <label>EMail</label>
        <div class="form-group">
          <input type="email" id="Email" value="" class="form-control" placeholder="e-mail">
        </div>
        <label>Password</label>
        <div class="form-group">
          <input type="password" id="Password" value="" class="form-control" placeholder="Password">
        </div>       
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
